body{
    background-color: lightblue;
    padding: 20px;
  }
  h1{
    padding: 10px;
    background-color: white;
    border-radius: 20px;
  }
  p{
    background-color: beige;
    color: blue;
    border-radius: 20px;
    width: 250px;
    height: 20px;
    padding: 10px;
  }